extends layout

append pageStyle
  link(rel="stylesheet", href="/style/index.css")

append content
  div.fullpage(id="fullpage")
    jiv.section.section-one
      div.container
        div.row
          div.col-md-12
            h1.text-center
              i.fa.wide-kerning.fa-bolt
            h1.text-center See how an electric vehicle can benefit you
            hr
        div.row
          div.col-md-12
            p In order to determine how well an Electric Vehicle will suit your lifestyle, this tool requires your location history provided from #[a(href="https://takeout.google.com/settings/takeout/custom/location_history?hl=en&gl=US&expflags", target="_blank") Google Takeout]. The data processing runs completely on your computer so none of your data is stored on our servers. This project is also open source, so the code that is running on your browser can be viewed on #[a(href="https://github.com/kylehovey/ev-drive-analyzer", target="_blank") GitHub].
        div.row
          div.col-md-12.text-center
            button.btn.btn-primary.btn-lg(
              type="button",
              id="upload-json",
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing File"
            ) Upload Location History
            input(type="file", id="upload-json-input")
            h2.hidden(id="upload-done") Done!

    div.section.section-two
      div.container
        div.row
          div.col-md-12
            h1.text-center
              i.fa.wide-kerning.fa-car
            h1.text-center Choose your vehicle!
            hr

        div.row
          div.col-md-6
            p Determining the impact of an electric vehicle on your life depends on what you choose as your new stylish mode of transportation. Which electric vehicle would you like to have in your life?
          div.col-md-6
            div.form-group
              select.form-control.input-large(id="vehicle-select")
          div.col-md-2(id="vehicle-stats")
          div.col-md-2
            button.btn.btn-primary.btn-lg(
              type="button",
              id="vehicle-select-accept",
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Running Analysis"
            ) Use Selected

append userScripts
  script(src="/js/app/pages/index/app.js")
  script(src="/js/app/pages/index/main.js")
